li {list-style-type: none;
    font-size: 16pt;
    }
    .rollno {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background : #04f6de;
    border: 1px soild silver;
    color: #000
    }
    .rollno h2 {
    margin-left: 38px;
    }
    input {
    font-size: 20pt;
    }
    input:focus, textarea:focus{
    background-color: lightyellow;
    }
    input submit {
    font-size: 12pt;
    }
    .rq {
    color: #FF0000;
    font-size: 10pt;
    }